<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |f| %>
	<tr>
        	<td><%= f.title %></td>
        	<td><%= link_to 'Edit', edit_category_post(f.id) %> </td>
        </tr>
	</br>
<% end %>
<%= link_to 'New', new_category_post_path() %>
